<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>이름</th> </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user}"></td>
                <td>
                    <form method="post" action="/toggleActive">
<!--                        <input type="hidden" name="userId" th:value="${user.id}">-->
<!--                        <button type="submit" th:text="${user.isActive ? '비활성화' : '활성화'}"></button>-->
                        <input type="hidden" name="userId" th:value="1">
                        <button type="submit" th:text="${'활성화'}"></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>