<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .user-info {
            margin-bottom: 10px;
        }
        .user-info-label {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>마이페이지</h2>
    </div>
    <div class="mb-3">
        <div class="user-info">
            <span class="user-info-label">아이디:</span> <span th:text="${member.id}"></span>
        </div>
        <div class="user-info">
            <span class="user-info-label">이메일:</span> <span th:text="${member.email}"></span>
        </div>
        <div class="user-info">
            <span class="user-info-label">그룹 이름:</span> <span th:text="${member.group_name}"></span>
        </div>
        <div class="user-info">
            <span class="user-info-label">활성 상태:</span> <span th:text="${member.is_active ? '활성' : '비활성'}"></span>
        </div>
        <div class="user-info">
            <span class="user-info-label">관리자 여부:</span> <span th:text="${member.is_admin ? '예' : '아니오'}"></span>
        </div>
        <div class="user-info">
            <span class="user-info-label">이미지:</span> <span th:text="${member.image}"></span>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" onclick="location.href='editProfile.html'" th:onclick="|location.href='@{/editProfile}'|">프로필 편집</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='index.html'" th:onclick="|location.href='@{/}'|">홈으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
